:root {
	--bg-color:#333;
	--color:#fff;
}

body{
	background-color:#f4f4f4;
	color:#555;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height:1.6em;
	margin:0;
}

.container{
	width:80%;
	margin:auto;
	overflow:hidden;
}

#main-header{
	background-color:#e6b3ff;
	color:#fff;
}

#navbar{
	background-color:var(--bg-color);
	color:var(--color);
}

#navbar ul{
	padding:0;
	list-style: none;
}

#navbar li{
	display:inline;
}

#navbar a{
	color:#fff;
	text-decoration:none;
	font-size:18px;
	padding-right:15px;
}

#showcase{
	background-image:url('../showcase.jpg');
	/* background-color: #333; */
	background-position:center right;
	min-height:300px;
	margin-bottom:30px;
	text-align: center;
}

#showcase h1{
	color:#fff;
	font-size:3rem;
	line-height: 1.6em;
	padding-top:30px;
}

#main{
	float:left;
	width:70%;
	padding:0 3%;
	box-sizing: border-box;
}

#sidebar{
	float:right;
	width:30%;
	background-color:var(--bg-color);
	color:var(--color);
	padding:2% 3%;
	box-sizing: border-box;
}

#main-footer{
	background-color:var(--bg-color);
	color:var(--color);
	text-align: center;
	padding:20px;
	margin-top:40px;
}

/* Allows footer to remain at the bottom of the screen */
.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

@media(max-width:600px){
	#main{
		width:100%;
		float:none;
	}

	#sidebar{
		width:100%;
		float:none;
	}
}
